button {
  color: #0f1419;
  border: 1px solid #cfd9de;
  border-radius: 18px;
  background: #fff;
  /* dibaca searah jarum jam top > right > bottom > left */
  padding:8px 16px 8px 16px;
  font-weight: bold;
}
